In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_sf.csv.xls')

In [3]:
small_df = df[df.columns[1:8]].head(25)

In [4]:
small_df

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK
10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000,ST
11,T. Kroos,28,Germany,Real Madrid,76500000,355000,LCM
12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000,CB
13,David Silva,32,Spain,Manchester City,60000000,285000,LCM
14,N. Kanté,27,France,Chelsea,63000000,225000,LDM
15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF
16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST
17,A. Griezmann,27,France,Atlético Madrid,78000000,145000,CAM
18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK
19,T. Courtois,26,Belgium,Real Madrid,53500000,240000,GK
20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM
21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000,LS
22,M. Neuer,32,Germany,FC Bayern München,38000000,130000,GK
23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST
24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB

In [7]:
s = small_df['Nationality'].value_counts()
display(s)

Spain        4
Argentina    3
Belgium      3
Uruguay      3
Germany      3
France       2
Portugal     1
Brazil       1
Croatia      1
Slovenia     1
Poland       1
England      1
Italy        1
Name: Nationality, dtype: int64

In [8]:
type(s)

pandas.core.series.Series

In [9]:
s

Spain        4
Argentina    3
Belgium      3
Uruguay      3
Germany      3
France       2
Portugal     1
Brazil       1
Croatia      1
Slovenia     1
Poland       1
England      1
Italy        1
Name: Nationality, dtype: int64

In [12]:
s.index

Index(['Spain', 'Argentina', 'Belgium', 'Uruguay', 'Germany', 'France',
       'Portugal', 'Brazil', 'Croatia', 'Slovenia', 'Poland', 'England',
       'Italy'],
      dtype='object')

In [13]:
s.index[0]

'Spain'

In [14]:
len(s.index)

13

In [15]:
s['Germany']

3

In [25]:
df.head(2)

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11

In [22]:
s.loc[s>1]

Spain        4
Argentina    3
Belgium      3
Uruguay      3
Germany      3
France       2
Name: Nationality, dtype: int64

In [26]:
len(df['Club'].value_counts())

650

In [29]:
df['Club'].value_counts().tail(9)

Club Brugge KV       9
Olympiacos CFP       8
Cruzeiro             8
FC Metz              8
Dijon FCO            8
Vitória Guimarães    7
GD Chaves            7
Dinamo Zagreb        7
Atlético Mineiro     6
Name: Club, dtype: int64

In [30]:
s = small_df['Nationality'].value_counts(normalize=True)

In [31]:
display(s)

Spain        0.16
Argentina    0.12
Belgium      0.12
Uruguay      0.12
Germany      0.12
France       0.08
Portugal     0.04
Brazil       0.04
Croatia      0.04
Slovenia     0.04
Poland       0.04
England      0.04
Italy        0.04
Name: Nationality, dtype: float64

In [51]:
q = df['Position'].value_counts(normalize=True)>0.1

In [52]:
q.loc[q==True]

GK    True
ST    True
CB    True
Name: Position, dtype: bool

In [53]:
df['Position'].value_counts(normalize=True)<0.01

GK     False
ST     False
CB     False
CM     False
LB     False
RB     False
RM     False
LM     False
CDM    False
CAM    False
RCB    False
LCB    False
LW     False
RCM    False
RW     False
LCM    False
LDM    False
RDM    False
LS      True
RS      True
RWB     True
LWB     True
CF      True
LF      True
LAM     True
RF      True
RAM     True
Name: Position, dtype: bool

In [55]:
s = small_df['Age'].value_counts()