In [1]:
import pandas as pd

In [2]:
data = pd.Series(['January', 'February', 'March', 'April'], 
                index=['First', 'Second', 'Third', 'Forth'])

In [3]:
data

First      January
Second    February
Third        March
Forth        April
dtype: object

In [4]:
display(data)

First      January
Second    February
Third        March
Forth        April
dtype: object

In [5]:
data.loc['First']

'January'

In [6]:
type(data.loc[['First', 'Second']])

pandas.core.series.Series

In [7]:
data[['First','Second']]

First      January
Second    February
dtype: object

In [8]:
data.iloc[[0,2]]

First    January
Third      March
dtype: object

## excersice

In [9]:
data = pd.Series(list(range(10,1001)))

## DataFrame

In [10]:
df = pd.DataFrame({'col1':[1,2],'col2':'3,4'})

In [11]:
df

   col1 col2
0     1  3,4
1     2  3,4

In [12]:
df = pd.DataFrame([[1,2,3],[4,5,6]],
                 columns=['one','two','three'],
                 index=['first','second'])

In [13]:
df

        one  two  three
first     1    2      3
second    4    5      6

In [14]:
df = pd.read_csv('data_sf.csv.xls')

In [15]:
df.head()

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

In [16]:
df.tail(3)

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [17]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

None

In [18]:
display(df.describe())

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,...,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,...,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,...,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,...,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,...,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,...,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,...,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [19]:
df.describe(include='object')

                Name Nationality              Club Position
count          12897       12897             12897    12897
unique         12326         156               650       27
top     J. Rodríguez     England  V-Varen Nagasaki       GK
freq               9        1368                30     1641

In [20]:
[[i, i+2, i*10] for i in range(1,10)]

[[1, 3, 10],
 [2, 4, 20],
 [3, 5, 30],
 [4, 6, 40],
 [5, 7, 50],
 [6, 8, 60],
 [7, 9, 70],
 [8, 10, 80],
 [9, 11, 90]]

In [21]:
df = pd.DataFrame([[i, i+2, i*10] for i in range(1,10)],
                 columns=['first','second','third'])

In [22]:
df.head()

   first  second  third
0      1       3     10
1      2       4     20
2      3       5     30
3      4       6     40
4      5       7     50

In [23]:
df.mean()

first      5.0
second     7.0
third     50.0
dtype: float64

In [24]:
df.mean(axis=1)

0     4.666667
1     8.666667
2    12.666667
3    16.666667
4    20.666667
5    24.666667
6    28.666667
7    32.666667
8    36.666667
dtype: float64

In [25]:
df.std(axis=1)

0     4.725816
1     9.865766
2    15.044379
3    20.231988
4    25.423087
5    30.615900
6    35.809682
7    41.004065
8    46.198846
dtype: float64

In [26]:
df.second

0     3
1     4
2     5
3     6
4     7
5     8
6     9
7    10
8    11
Name: second, dtype: int64

In [27]:
df.second.mean()

7.0

In [28]:
df['second'].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0     3
1     4
2     5
3     6
4     7
5     8
6     9
7    10
8    11
Name: second, dtype: int64>

In [29]:
df = pd.read_csv('data_sf.csv.xls')

In [30]:
df = df[df['Age']<20]

In [31]:
df.head()

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
25,25,K. Mbappé,19,France,Paris Saint-Germain,81000000,100000,RM,77,88,...,70,86,34,34,32,13,5,7,11,6
188,188,M. de Ligt,18,Netherlands,Ajax,27000000,11000,RCB,57,53,...,40,77,84,84,79,12,11,11,12,10
191,191,G. Donnarumma,19,Italy,Milan,29000000,23000,GK,12,12,...,24,68,20,14,16,88,78,72,78,88
285,285,K. Havertz,19,Germany,Bayer 04 Leverkusen,22000000,32000,CAM,69,72,...,49,80,28,42,38,6,8,11,10,12
360,363,C. Pulisic,19,United States,Borussia Dortmund,18000000,26000,RM,69,67,...,61,67,38,30,41,8,12,13,16,14

## tasks

In [32]:
df = pd.read_csv('data_sf.csv.xls')

In [33]:
df[(df['Wage']>df['Wage'].mean())]['SprintSpeed'].mean()

67.56638061585058

In [34]:
df[(df['Wage']<df['Wage'].mean())]['SprintSpeed'].mean()

62.41425430560645

In [35]:
df[(df['Wage']==df['Wage'].max())]['Position']

0    RF
Name: Position, dtype: object

In [36]:
df[df['Nationality']=='Brazil']['Penalties'].sum()

22789

In [37]:
df[df['HeadingAccuracy']>50]['Age'].mean()

25.58771113179944

In [38]:
df[(df['Composure']>0.9*df['Composure'].max())&
  (df['Reactions']>0.9*df['Reactions'])]['Age'].min()

24

In [39]:
df[df['Age']==df['Age'].max()]['Reactions'].mean()-df[df['Age']==df['Age'].min()]['Reactions'].mean()

22.642857142857146

In [40]:
df[df['Value']>df['Value'].mean()]['Nationality'].describe(include='object')

count      1747
unique       98
top       Spain
freq        211
Name: Nationality, dtype: object

In [41]:
df[(df['Position']=='GK')&(df['GKReflexes']==df['GKReflexes'].max())]['Wage'].mean()/df[(df['Position']=='GK')&(df['GKHandling']==df['GKHandling'].max())]['Wage'].mean()

2.765957446808511

In [49]:
df['Value']>df['Value'].mean()

0         True
1         True
2         True
3         True
4         True
         ...
12892    False
12893    False
12894    False
12895    False
12896    False
Name: Value, Length: 12897, dtype: bool

In [48]:
df[df['Value']>df['Value'].mean()]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12736,12965,J. Morris,18,England,Doncaster Rovers,2500000,1000,ST,25,58,...,59,43,17,13,12,12,5,11,6,5
12774,13003,J. Martin,19,Republic of Ireland,Waterford FC,7500000,1000,CAM,33,56,...,56,49,38,19,19,9,7,12,10,6
12812,13041,J. Egan,19,England,Carlisle United,3500000,1000,RM,48,44,...,47,42,23,25,27,12,9,10,8,12
12857,13086,Wu Lei,21,China PR,Tianjin Quanjian FC,9000000,2000,LDM,52,29,...,46,39,52,40,49,8,15,11,8,5
12869,13098,J. Williams,17,England,Northampton Town,2300000,1000,CB,25,22,...,32,37,42,51,49,14,11,7,11,8